{% extends "base.html" %}

{% block title %} TKD CRM {% endblock %}

{% block content %}
        <div class="container centered">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-offset-2 text-center">
                        <div class="list-group list-group-flush">
                            <a href="query/" class="list-group-item list-group-item-action list-group-item-info">查询学员信息</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-info">管理入口</a>
                        </div>
                </div>
            </div>
        </div>
{% endblock %}