{% extends "base.html" %}

{% block title %} TKD CRM {% endblock %}

{% block content %}
        <div class="container centered">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-offset-2 text-center">
                    <form class="form-inline" action="/query/" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
{% endblock %}